<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Package Visibility (Android 11+): GSF ContentResolver abfragen -->
    <queries>
        <package android:name="com.google.android.gsf" />
        <package android:name="com.google.android.gms" />
    </queries>
    <application
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:icon="@android:drawable/ic_lock_lock"
        android:label="@string/app_name"
        android:roundIcon="@android:drawable/ic_lock_lock"
        android:supportsRtl="true"
        android:theme="@style/Theme.HwService">

        <!-- LSPosed/Xposed Module Metadata -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposeddescription"
            android:value="OEM hardware telephony service module" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />
            
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
